html, body {
    height: 100%;
    margin: 0;
}
.ent{
    border: 1px solid #333;
    border-radius: 30px;

}

.ent .ent-name{
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 10px;
}

.ent .ent-body{
    padding: 6px 10px 15px 10px;
}

.ent .show-more, .ent .show-less{
    cursor: pointer;
}
.ent .ent-detail .map{
    width: 100%;
    height: 200px;
}
.ent .ent-detail .detail-text{
    display: flex;
    justify-content: space-between;
}

.ent .ent-disc{
    transition: height 1s;
    height: 70px;
    overflow: hidden;
}
.push{
    height: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    color: white;
}