@include mobile{
    .navbar{
        .logo{
            img{width: 75px;}
        }
        .sidenav{
            margin: 5px 0;
            input{
                width: 160px;
                height: 40px;
                font-size: 14px;
            }
            a{font-size: 14px; margin: 0;i{margin: 13px -25px;}}
        }
    }
    .container-table{
        width: 98%;
        a{
            font-size: 18px;
        }
        .tableSalarie{
            h4{font-size: 16px;}
            tr{
                font-size: 14px;
                th{padding: 1rem;}
            }
        }
    }
}
@include tablette{
    .navbar{
        min-width: 375px;
        .logo{
            img{width: 100px;}
        }
        .sidenav{
            margin: 5px 0;
            input{
                width: 175px;
                height: 40px;
                font-size: 16px;
            }
            a{font-size: 16px; margin: 0;i{margin: 12px -27px;}}
        }
    }
    .container-table{
        width: 90%;
        a{
            font-size: 20px;
        }
        .tableSalarie{
            h4{font-size: 18px;}
            tr{font-size: 16px;}
        }
    }
}