@import "mixin";
$color: #5599FF;
$color2:#808080;
body{
    margin: 0;
    padding: 0;
}
.navbar{
    justify-content: space-between;
    display: flex;
    box-shadow: 0 3px 6px #80808087;
    padding: 10px 30px;
    .logo{
        width: 20%;
        height: auto;
        img{
            width: 136px;
        }
    }
    .sidenav{
        margin: 20px 0;
        input{
            border-radius: 37px;
            width: 450px;
            height: 54px;
            padding: 10px;
            font-size: 20px;
            color: #000000e6;
            border: 1px solid $color2;

        }
        a{
            text-decoration: none;
            color: $color;
            font-size: 28px;
            margin: 10px;

            i{
                position: absolute;
                margin: 12px -65px;
                color: $color2;
            }
        }
    }
}
// table
.container-table{
    margin: auto;
    width: 78%;
    margin-top: 30px;
    a{
        font-size: 22px;
    }
    .tableSalarie{
     border: 1px solid gray;
     border-radius: 37px;
     margin-top: 20px;
     h4{
         text-align: center;
         padding: 27px 0;
         font-size: 24px;
        }
        tr{
            font-size: 24px;
        }
    }
    #addSalary{
        top: 22%;
        .modal-content{
            border-radius: 37px;
            h5{
                margin: 0 18px;
            }
            .form-inline{
            margin: 20px 10px;
            .form-control{
               margin: 6px auto;
               border-radius: 10px;
               width: 279px;
               height: 61px;
            }
            }
            .btn{
                margin: 30px 0;
                border-radius: 9px;
                width: 45%;
                height: 70px;
            }
        }
        
    }
}
// media 
@import "media";